template(name="contents")
	img(src="/images/java.svg").visible.img-responsive
	h1 Chat
	p Kui proged Javat hängi meie jututoas: <a target="_blank" href="https://gitter.im/KristerV/i200">gitter.im/KristerV/i200</a>. Seal saad eriti kiiresti oma küsimustele vastused ja vahest saab niisamagi targemaks. Sisse saad logida GitHubi kontoga (kuna igal arendajal see juba on).
	+kkk
	+arenduskeskkond
	+git
	+hadaabi
	+muutujad
	+juhtimisstruktuurid
	+javaAPI
	+sisendValjund