template(name="contents")
	img(src="/images/java.svg").visible.img-responsive
	+youtube(id="IpmBjKqFOvk" title="Skeemi tutvustus")
	.chat
		h1#chat Chat
		strong.text-danger Kui proged Javat hängi meie jututoas: <a target="_blank" href="https://gitter.im/KristerV/i200">gitter.im/KristerV/i200</a>.
		p Seal saad eriti kiiresti oma küsimustele vastused ja vahest saab niisamagi targemaks. Sisse saad logida GitHubi kontoga (kuna igal arendajal see juba on).
	+kkk
	+arenduskeskkond
	+git
	+hadaabi
	+muutujad
	+juhtimisstruktuurid
	+javaAPI
	+sisendValjund