template(name="contents")
	img(src="/images/java.svg" data-action="zoom").visible.img-responsive.only-right
	img(src="/images/java.svg").visible.img-responsive.only-left
	+sissejuhatus
	+arenduskeskkond
	+git
	+hadaabi
	+muutujad
	+juhtimisstruktuurid
	+javaAPI
	+sisendValjund
