@import "mixins";

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.layout:not(.advancedMode) .advanced {
	display: none;
}

.layout-left {
	box-sizing: border-box;
	padding: 1em;
	padding-left: 0;
	width: 250px;
	height: 100%;
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
	line-height: 1em;

	& > *:not(img) {
		border-left: 6px solid transparent;
		padding-left: 1em;
		//-webkit-box-shadow:inset 50px 0 40px -40px rgba(255,0,0,1);
		//box-shadow:inset 50px 0 40px -40px rgba(255,0,0,1);
	}
	.muutujad {
		border-color: #856FFF;
	}
	.juhtimisstruktuurid {
		border-color: #99FF73;
	}
	.javaAPI {
		border-color: #FBFF75;
	}
	.class {
		border-color: #CF51FF;
	}
	.sisend-valjund {
		border-color: #FF7272;
	}

	*:not([id]) {
		color: red !important;
	}
	p, strong, .row:not(.visible), img:not(.visible), pre, .panel-body:not(.visible), .panel-footer, hr {
		display: none;
	}
	.panel, .panel-heading, .panel-body {
		background-color: transparent;
		width: auto;
		margin: 0;
		padding: 0;
		.no-shadow;
	}
 	h1, h2, h3, h4, h5, h6,
 	.panel h1,
 	.panel h2,
 	.panel h3,
 	.panel h4,
 	.panel h5,
 	.panel h6 {
 		color: black;
		cursor: pointer;
		margin-top: 0.3em;
		margin-bottom: 0.3em;
		font-size: 15px;
	}
	h1, h1.panel-heading {
		margin-top: 1.3em;
		font-size: 25px;
	}
	h2, h2.panel-heading {
		margin-top: 0.8em;
		font-size: 18px;
	}
	h3, h3.panel-heading {
		margin-top: 0.6em;
		margin-left: 15px;
	}
	h4, h4.panel-heading {
		margin-top: 0.3em;
		margin-left: 30px;
	}
	h5, h5.panel-heading {
		margin-left: 45px;
	}
	h6, h6.panel-heading {
		margin-left: 60px;
	}
}

.bold {
	font-weight: bold;
}

.paneImg {
	width: 100%;
	height: auto;
}

.layout-right {
	padding: 1em;
	max-width: 700px;
	margin-left: 250px;
	h5.panel-heading, h6.panel-heading {
		font-size: 1.5em;
	}
}

img {
	margin: 1em;
}

.w200 {
	width: 200px;
}

pre, code {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
