head
	title i200
body
	.layout.layout-left(class="{{#if advancedMode}}advancedMode{{/if}}")
		+contents
		if advancedButton
			.btn.btn-danger.btn-block#advancedButton Mul on segadus
		else
			.btn.btn-success.btn-block#advancedButton Kõik on selge
	.layout.layout-right.language-java(class="{{#if advancedMode}}advancedMode{{/if}}")
		+contents