@import "mixins";

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.layout-left {
	box-sizing: border-box;
	padding: 1em;
	width: 250px;
	height: 100%;
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
	line-height: 1em;
	*:not([id]) {
		color: red !important;
	}
	p, img, pre, .panel-body, .panel-footer {
		display: none;
	}
	.panel, .panel-heading {
		background-color: transparent;
		width: auto;
		margin: 0;
		padding: 0;
		.no-shadow;
	}
 	h1, h2, h3, h4, h5, h6, .panel h5 {
 		color: black;
		cursor: pointer;
		margin-top: 0.3em;
		margin-bottom: 0.3em;
		font-size: 15px;
	}
	h1 {
		font-size: 25px;
		margin-left: 0px;
	}
	h2 {
		// font-size: 20px;
	}
	h3 {
		// font-size: 15px;
		font-weight: bold;
		margin-left: 15px;
	}
	h4 {
		// font-size: 15px;
		margin-left: 30px;
	}
	h5, .panel-heading {
		// font-size: 15px;
		margin-left: 45px;
	}
	h6 {
		// font-size: 15px;
		margin-left: 60px;
	}
}

.layout-right {
	padding: 1em;
	max-width: 700px;
	margin-left: 250px;
	h5.panel-heading {
		font-size: 1.5em;
	}
}

img {
	margin: 1em;
}

.w200 {
	width: 200px;
}

pre, code {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
