.youtube {
	width: 267px;
	.youtube-thumb {
		position: relative;
		height: 144px;
		width: 256px;
		background-size: cover;
		background-position: center;
	}
	.youtube-logo {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 0;
		height: 0;
		overflow: visible;
		img {
			padding: 0;
			margin: 0;
			margin-left: -45px;
			margin-top: -32px;
		}
	}
	h2 {
	}
}