.toc {
	position: fixed;
	width: 30%;
	left: 0;
	top: 0;
	overflow: auto;
	height: 100%;
}

body {
	margin-left: calc(30%);
	max-width: 900px;
	width: 70%;
}

img {
	max-width: 100%;
}

ul {
	padding-left: 1em;
}