template(name="arenduskeskkond")
	.arenduskeskkond
		h1#arenduskeskkond Arenduskeskkond
		h3#arenduskeskkond-java Java 8
		p Java 8 saad alla laadida ja installida <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html">siit</a>.
		p.text-danger On soovitatav kasutada ametliku Oracle JDK (üleval olev link) ja mitte OpenJDK, sest JavaFX ei ole OpenJDK's koheselt sees ja selle lisamine võib olla päris problemaatiline.
		h3#intellij Intellij
		p Intellij saad alla laadida ja installida <a target="_blank" href="https://www.jetbrains.com/idea/download/">siit</a>.
		.panel.panel-info
			h4.panel-heading#intellij-kasutamine Kasutamine
			.panel-body
				p Ennekõike on Intellij lihtne tekstiredaktor. Tal on palju kiirteesid (allpool räägime veel) ja muid võimalusi. Räägime kõige tähtsamast.
				h4#intellij-Esimene.menu-invisible Esimene käivitus
				p Esmane käivitus võib olla vähe keeruline - järgime <a target="_blank" href="https://www.jetbrains.com/idea/help/creating-and-running-your-first-java-application.html">piltidega õpetust siin</a>.
				h4#intellij-Jooksuta.menu-invisible Jooksuta programm
				p Programmi käivitamiseks on lihtne otsetee <kbd>ctrl + shift + f10</kbd>. Kui oled juba ühe korra käivitanud oma programmi, piisab ka lühemast <kbd>ctrl + f10</kbd> otseteest. Vt. ka <a href="/intellij-kiirklahvid">kiirklahve</a>
				h4#intellij-Debug.menu-invisible Debug
				p Kui soovid näha kuidas täpselt su programm jookseb - rida rea haaval - siis Debug funktsioon on selle jaoks. Hoiatan, et erinevalt programmi tavapärane käivitamine võib see väga kaua aega võtta. Uuri lähemalt <a href="/Videod">Debug videos</a>.
				h4#intellij-FailideVaade.menu-invisible Failide vaade
				p Kui sul on failide vaade kadunud, leiad selle üles all-paremal olevast ikoonist.
				img(src="images/muu/IDEfailivaade.png")
		.panel.panel-info
			h4.panel-heading#intellij-kiirklahvid Kiirklahvid
			.panel-body
				p Jumala kiirklahv on ctrl + shift + a, see on kõikide käskluste otsing.
				.row
					.col-sm-5 <kbd>ctrl + shift + a</kbd>
					.col-sm-7 Otsing: kõik Intellij käsklused
				.row
					.col-sm-5 <kbd>shift + f10</kbd>
					.col-sm-7 Käivita programm (olemasolevate seadetega)
				.row
					.col-sm-5 <kbd>ctrl + shift + f10</kbd>
					.col-sm-7 Käivita programm (loo uued seaded)
				.row
					.col-sm-5 <kbd>alt + enter</kbd>
					.col-sm-7 Paranda kursori all olev viga.
				.row.advanced
					.col-sm-5 <kbd>ctrl + shift + üles/alla</kbd>
					.col-sm-7 Viib kas rea või koodi jupi üles/alla
				.row.advanced
					.col-sm-5 <kbd>alt + j</kbd>
					.col-sm-7 Selekteeri järgmine identne koodijupp
				.row.advanced
					.col-sm-5 <kbd>shift + alt + click</kbd>
					.col-sm-7 Lisa veel üks kursor
				.row.advanced
					.col-sm-5 <kbd>shift + alt + insert</kbd>
					.col-sm-7 Muuda selekteerimine ploki kujuliseks
				.row.advanced
					.col-sm-5 <kbd>ctrl + click</kbd>
					.col-sm-7 Mine pärinevuse juurde.
				.row
					.col-sm-5 <kbd>ctrl + space</kbd>
					.col-sm-7 Autocomplete, ehk soovita midagi mis siia võiks sobida.
				.row.advanced
					.col-sm-5 <kbd>ctrl + w</kbd>
					.col-sm-7 Laienda selektsiooni
				.row.advanced
					.col-sm-5 <kbd>F2</kbd>
					.col-sm-7 Mine järgmise errori juurde.
				.row
					.col-sm-5 <kbd>ctrl + q</kbd>
					.col-sm-7 Loe kursori all oleva elemendi JavaDocsi.
				.row.advanced
					.col-sm-5 <kbd>ctrl + shift + enter</kbd>
					.col-sm-7 Lõpeta lause ja lisa semikoolon.
		.panel.panel-info
			h4.panel-heading#intellij-kiirkasud Kiirkäsud
			.panel-body
				p kirjuta käsk ja vajuta enter. Näiteks <kbd>sout + enter</kbd> kirjutab <code>System.out.println()</code>.
				.row
					.col-sm-5 <kbd>sout</kbd>
					.col-sm-7
						pre
							code System.out.println()
				.row.advanced
					.col-sm-5 <kbd>soutv</kbd>
					.col-sm-7
						pre
							code System.out.println("a = " + a)
				.row
					.col-sm-5 <kbd>psvm</kbd>
					.col-sm-7
						pre
							code public static void main()
				.row.advanced
					.col-sm-5 <kbd>fori</kbd>
					.col-sm-7
						pre
							code for (int i = 0; i &lt; x; i++) {}
