template(name="hadaabi")
	.hadaabi.panel
		h1.panel-heading#hadaabi Hädaabi
		.panel-body.visible
			p Kui oled kinni jäänud, võta siit järjest nõuanded läbi.
			h2#hadaabi-ei-kaivitu Programm ei käivitu
			.panel.panel-info
				h3.panel-heading#hadaabi-undo Undo
				.panel-body
					p Esimene asi mis tee on vajuta <kbd>ctrl + z</kbd>, et oma käike tagasi võtta. Pole mõtet juurde kirjutada koodi kui olemasolev ei tööta. Kui lähed undoga liiale, saad <kbd>ctrl + shift + z</kbd> vajutusega ajaloos edasi minna.
			.panel.panel-info
				h3.panel-heading#hadaabi-syntaks Kontrolli süntaksit
				.panel-body
					p Algajatel juhtub tihti, et Java süntaksit ei järgita. <a href="http://et.wikipedia.org/wiki/S%C3%BCntaks" target="_blank">Süntaks</a> on ka programmeerimises grammatika osa. Need on need reeglid, ilma milleta arvuti lihtsalt ei saa aru millest sa räägid. Kontrolli üle järgnevad korduma kippuvad vead:
					p Kui sulud on korras vajuta <kbd>ctrl + alt + l</kbd>, et treppimine automaatselt korda seada.
					hr
					.row
						.col-sm-3.text-danger Sulul ei ole paarilist
						.col-sm-9
							pre
								code
									| public class MaastikuArhitekt {// klass algab
									|     public void meetod() {     // meetod algab
									|         int a = 5;
									|         if (a &lt; 10) {          // if algab
									|             a++;
									|         }                      // if lõppeb
									|                                // meetodil POLE lõppu
									| }                              // klass lõppeb
					hr
					.row
						.col-sm-3.text-danger Kirjaviga muutujas
						.col-sm-9
							pre
								code
									| public class KosmoseAgentuur  {
									|     public static void main(String[] args) {
									|         int aasta = 2030;
									|         if (aasla &gt; 2000) { // aasla => aasta
									|             int milleenium = 2;
									|         }
									|     }
									| }

					hr
					.row
						.col-sm-3.text-danger Sõnel ei ole jutumärke
						.col-sm-9
							pre
								code String auto = Ford Mustang; // õige: "Ford Mustang"
					hr
					.row
						.col-sm-3.text-danger Sõne või tähe ümber on valed jutumärgid
						.col-sm-9
							pre
								code "Sõne on topelt jutumärkidega" != 't'
					hr
					.row
						.col-sm-3.text-danger Mingi rea lõpust on puudu semikoolon
						.col-sm-9
							pre
								code
									| public class KosmoseAgentuur  {
									|     public static void main(String[] args) {
									|         int aasta = 2030;
									|         if (aasla &lt; 10) {
									|             System.out.println("Tõene") // puudub ;
									|         }
									|     }
									| }
					hr
					.row
						.col-sm-3.text-danger Kuskil on liigne semikoolon
						.col-sm-9
							pre
								code
									| public class KosmoseAgentuur  {
									|     public static void main(String[] args) {
									|         int aasta = 2030;
									|         if (aasla &lt; 10); { // pärast if ei tohi olla ;
									|             System.out.println("Tõene");
									|         }
									|     }
									| }
					hr
					.row
						.col-sm-3.text-danger Suur-väike täht valesti (Java on tundlik)
						.col-sm-9
							pre
								code CamelCase != camelCase != Camelcase;
					hr
					.row
						.col-sm-3.text-danger Võrdluses operaatorid sassis
						.col-sm-9 <code>==</code> on võrdlemiseks ja <code>=</code> on uue väärtuse omistamiseks.
			.panel.panel-info
				h3.panel-heading#hadaabi-IDE IDE vihjed erroritele
				.panel-body
					p Tihti annab IDE (Intellij) sulle teada, kus viga on.
					img(src="images/muu/IDEvihjed.png")
					p Sul tuleb vaid punaseid märguandeid otsida ja hiirega peale minna (mitte vajutada), et lugeda kasulikku vihjet.
					p Vahel oskab IDE sulle vea isegi ära parandada. Näiteks kui oled unustanud midagi importida siis kliki punasele joonele ja kas <kbd>alt + enter</kbd> vajutades või punasele pirnile klikkides saad kasutada võimalike lahendusi.
					img(src="images/muu/IDEaitab.png")
					p Muidugi peaksid ikka umbes teadma mida need lahendused teevad, vahel võib kood hullemaks ka minna.
					
			.panel.panel-info
				h3.panel-heading#hadaabi-errorid Kompileerija errorid
				.panel-body
					p Kui oma programmi käima paned ja ta punast teksti konsooli viskab, siis otsi sealt tekstist järgnevaid märksõnu. Need on kõige populaarsemad vead, mis võivad tekkida:
					hr
					.row
						.col-sm-6.text-danger ClassNotFoundException
						.col-sm-6 Oled käivitanud vale klassi. Ava õige fail ja vajuta <kbd>ctrl + shift + f10</kbd>. Vt. ka <a href="/intellij-kiirklahvid">kiirklahve</a>
					hr
					.row
						.col-sm-6.text-danger Class xxxx not found in type declaration
						.col-sm-6 Oled unustanud importida mingi klassi, mida kasutad oma programmis.
					hr
					.row
						.col-sm-6.text-danger ArrayIndexOutOfBounds
						.col-sm-6 Küsid massiivilt positsiooni kohta, mida pole olemas. Pea meeles, et positsioonide loendamine algab nullist. Näiteks massiivis <code>int[] a = {5, 3, 6};</code> ei ole olemas kohta <code>a[3]</code>.
					hr
					.row
						.col-sm-6 Number tuleb vale, näiteks <span class="text-danger">8.6535634789<strong><u>E</u></strong>120</span>
						.col-sm-6 See E on tähtis, see märgistab, et näitab sulle ligikaudset arvu. "E" on kümne kordaja. Antud näites on arvuks 8.6535634789 * 10 ^ 120.
			h2#hadaabi-kaivitub Programm käivitub
			p Kui programm käivitub, aga tulemus ei ole see, mida ootasid.
			.panel.panel-info
				h3.panel-heading#hadaabi-sout Prindi kõike
				.panel-body
					p Eesmärgiks on saada teada täpselt <strong>mis tulemuse iga koodirida annab</strong>.
					p Kui enne oli kood:
					pre
						code
							| int a = 5;
							| if (a &lt; 5) {
							|     a++;
							| }
					p Siis nüüd on kõik võimalikud pesad välja prinditud:
					pre
						code
							| int a = 5;
							| System.out.println("a = " + a);
							| if (a &lt; 5) {
							|     System.out.println("a = " + a);
							|     a++;
							| }
							| System.out.println("a = " + a);
					p Antud näide on veidi ekstreemne (esimene print on üleliigne) aga vahel tuleb vea leidmiseks olla ekstreemne.
			.panel.panel-info
				h3.panel-heading#hadaabi-debug Debug
				.panel-body
					p Debug on lahe funktsioon, kus näed rida rea haaval kuidas programm jookseb. Vaata täpsemalt <a href="/intellij-Debug">Debuggimine</a>.
			.panel.panel-info
				h3.panel-heading#hadaabi-google Googelda
				.panel-body
					p Google on meie parim sõber, Googelda nii kuis jaksad. Tihtipeale satud lehele nimega StackOverflow ja see on teine parim abimees.
			.panel.panel-info
				h3.panel-heading#hadaabi-foorumist Küsi foorumist
				.panel-body
					p Foorum on parem kui õppejõult küsimine, sest praktikas saad sealt omale vastuse kiiremini. Ja tänu sinu küsimusele saavad ka teised targemaks.
			.panel.panel-info
				h3.panel-heading#hadaabi-oppejoult Küsi õppejõult
				.panel-body
					p Viimase variandina küsi õppejõu käes abi. See ei ole sellepärast, et õppejõud ei soovi sulle oma aega pühendada, vaid lihtsalt sellepärast, et vea otsimine on iga progeja igapäevane töö ja ka seda peab iseseisvalt teha oskama. Selge on ka see, et algajale on kõige vaimu tapvam olukord lihtsalt segaduses olemine, seega võta julgelt ühendust, selleks me siin oleme.