template(name="intellij")
	.intellij
		h1 Intellij
		.panel.panel-info
			h2.panel-heading#intellij-kiirklahvid Kiirklahvid
			.panel-body
				.row
					.col-sm-3 ctrl + shift + 체les/alla
					.col-sm-9 Viib kas rea v천i koodi jupi 체les/alla
				.row
					.col-sm-3 alt + j
					.col-sm-9 
				.row
					.col-sm-3 shift + f10
					.col-sm-9 
				.row
					.col-sm-3 ctrl + shift + f10
					.col-sm-9 
				.row
					.col-sm-3 shift + alt + click
					.col-sm-9 
				.row
					.col-sm-3 ctrl + click
					.col-sm-9 
				.row
					.col-sm-3 
					.col-sm-9 
				.row
					.col-sm-3 
					.col-sm-9 
				.row
					.col-sm-3 
					.col-sm-9 
				.row
					.col-sm-3 
					.col-sm-9 
				.row
					.col-sm-3 
					.col-sm-9 
				.row
					.col-sm-3 
					.col-sm-9 
				.row
					.col-sm-3 
					.col-sm-9 
				.row
					.col-sm-3 
					.col-sm-9 
		.panel.panel-info
			h2.panel-heading#intellij-kiirkasud Kiirk채sud
			.panel-body
				.row
					.col-sm-3 sout
					.col-sm-9 
				.row
					.col-sm-3 soutv
					.col-sm-9 
				.row
					.col-sm-3 psvm
					.col-sm-9 
				.row
					.col-sm-3 fori
					.col-sm-9 
				.row
					.col-sm-3 
					.col-sm-9 
				.row
					.col-sm-3 
					.col-sm-9 
				.row
					.col-sm-3 
					.col-sm-9 