template(name="sisendValjund")
	.sisend-valjund
		h1#sisend-valjund Sisend Väljund
		p Sisendiks saavad olla kõik vahendid, millega kasutaja arvutit mõjutab - klaviatuur, hiir, veebikaamera, puutetundlik ekraan
		h2#sv-Konsool Konsool
		h2#sv-File File
		h2#sv-JavaFX JavaFX