template(name="javaAPI")
	h1#javaAPI Java API
	p <a href="http://en.wikipedia.org/wiki/Application_programming_interface" target="_blank">API</a> on programmeerimises nagu veduril on kangid ja seierid. API ei ole mitte kasutajaliides, vaid programmiliides. Java API on sisuliselt valmis kirjutatud abilised. Näiteks, kui sul on vaja panna number 5 astmesse 7, siis käsitsi arvutamise asemel kasuta Math klassi meetodi pow():
	pre
		code Math.pow(5, 7);
	p Matemaatika on muidugi kõige lihtsam näide. Java API kaudu saab ka ligi kasutaja klaviatuurile, konsooli printimisele, faili toimingutele ja muudele vahenditele, mida muidu peaks ise välja mõtlema.
	h2#api-system System
	.panel.panel-info
		h3.panel-heading#api-system-in System.in
		.panel-body vt. <a href="/api-scanner">kuidas kasutatakse Scanner objekti</a>
	.panel.panel-info
		h3.panel-heading#api-system-out System.out
		.panel-body
	h2#api-math.bold Math
	.panel.panel-info
		h3.panel-heading#api-math-abs Math.abs()
		.panel-body
	.panel.panel-info
		h3.panel-heading#api-math-min Math.min()
		.panel-body
	.panel.panel-info
		h3.panel-heading#api-math-max Math.max()
		.panel-body
	.panel.panel-info
		h3.panel-heading.bold#api-math-pow Math.pow()
		.panel-body
	.panel.panel-info
		h3.panel-heading.bold#api-math-random Math.random()
		.panel-body
	.panel.panel-info
		h3.panel-heading#api-math-round Math.round()
		.panel-body
	h2#api-integer Integer
	.panel.panel-info
		h3.panel-heading#api-integer-MIN_VALUE Integer.MIN_VALUE
		.panel-body
	.panel.panel-info
		h3.panel-heading#api-integer-MAX_VALUE Integer.MAX_VALUE
		.panel-body
	.panel.panel-info
		h3.panel-heading#api-integer-parseInt Integer.parseInt(String)
		.panel-body
	h2#api-double Double
	.panel.panel-info
		h3.panel-heading#api-double-MIN_VALUE Double.MIN_VALUE
		.panel-body
	.panel.panel-info
		h3.panel-heading#api-double-MAX_VALUE Double.MAX_VALUE
		.panel-body
	.panel.panel-info
		h3.panel-heading#api-double-parseDouble Double.parseDouble(String)
		.panel-body
	h2#api-file File
	.panel.panel-info
		h3.panel-heading#api-file-File File
		.panel-body
	.panel.panel-info
		h3.panel-heading#api-file-FileReader FileReader
		.panel-body
	.panel.panel-info
		h3.panel-heading#api-file-FileWriter FileWriter
		.panel-body
	.panel.panel-info
		h3.panel-heading#api-file-InputStream InputStream
		.panel-body
	.panel.panel-info
		h3.panel-heading#api-file-OutputStream OutputStream
		.panel-body
	h2#api-scanner Scanner
	.panel.panel-info
		h3.panel-heading#api-scanner-next .next()
		.panel-body
	.panel.panel-info
		h3.panel-heading#api-scanner-nextLine .nextLine()
		.panel-body
	.panel.panel-info
		h3.panel-heading#api-scanner-nextInt .nextInt()
		.panel-body
	.panel.panel-info
		h3.panel-heading#api-scanner-nextDouble .nextDouble()
		.panel-body
	h2#api-thread Thread
	.panel.panel-info
		h3.panel-heading#api-thread-sleep Thread.sleep(msec)
		.panel-body
	h2#api-timer Timer
	.panel.panel-info
		h3.panel-heading#api-timer-schedule .schedule()
		.panel-body
	.panel.panel-info
		h3.panel-heading#api-timer-scheduleAtFixedRate .scheduleAtFixedRate()
		.panel-body
	h2#api-arrays Arrays
	.panel.panel-info
		h3.panel-heading#api-arrays-sort Arrays.sort()
		.panel-body
	.panel.panel-info
		h3.panel-heading#api-arrays-equals Arrays.equals()
		.panel-body
	.panel.panel-info
		h3.panel-heading#api-arrays-toString Arrays.toString()
		.panel-body
	h2#api-collections Collections
	.panel.panel-info
		h3.panel-heading#api-collections-sort Collections.sort()
		.panel-body