template(name="sisendValjund")
	.sisend-valjund
		h1#sisend-valjund Sisend Väljund
		p Sisendiks saavad olla kõik vahendid, millega kasutaja arvutit mõjutab - klaviatuur, hiir, veebikaamera, puutetundlik ekraan. Meie tegeleme aga vaid klaviatuuriga (konsolis) ja hiirega (kasutajaliideses). Konsoolis saad klaviatuuri sisestusi kuulata Scanneriga ja tagasisidet anda print käsuga. Kasutajaliideses on nupud, teksti väljad ja muud vahendid.
		h2#sv-Konsool Konsool
		h2#sv-File File
		h2#sv-JavaFX JavaFX