template(name="sisendValjund")
	.sisend-valjund
		h1#sisend-valjund Sisend Väljund
		p <strong>Sisendiks</strong> saavad olla kõik vahendid, millega kasutaja arvutit mõjutab - klaviatuur, hiir, veebikaamera, puutetundlik ekraan. Meie tegeleme neist vaid klaviatuuriga (konsoolis) ja hiirega (kasutajaliideses).
		p <strong>Väljundiks</strong> on kõik viisid, kuidas kasutajale midagi ütelda või näidata. Meie puhul siis viisid, kuidas ekraanile midagi kuvada.
		p <strong>Konsoolis</strong> saad klaviatuuri sisestusi kuulata <a href="/api-scanner">Scanneriga</a> ja tagasisidet anda <a href="/api-system-out">print</a> käsuga. 
		p <strong>Kasutajaliideses</strong> on nupud, teksti väljad ja muud vahendid. 
		p Tegelikult võib sisendiks ja väljundiks olla ka arvuti <strong>failisüsteem</strong>, internet või muu kommunikatsioonivahend, neist käsitleme failihaldust.
		.panel
			h2.panel-heading#sv-Konsool Konsool
			.panel-body.visible
				.panel.panel-info
					h3.bold.panel-heading#konsool-Sisend Sisend
					.panel-body
						p Vt. <a href="/api-scanner">Scanner</a>
				.panel.panel-info
					h3.bold.panel-heading#konsool-Valjund Väljund
					.panel-body
						p Vt. <a href="/api-system-out">System.out.print()</a>
		.panel.advanced
			h2.panel-heading#sv-File File
			.panel-body.visible
				p Vt. <a href="/api-file">Java API - File</a>
		.panel.advanced
			h2.panel-heading#javafx JavaFX
			.panel-body.visible
				p JavaFX on paindlik kasutajaliidese ja graafika kuvaja, samas on ta <i>mõistlikult</i> lihtne kasutada. Kui konsool su vajadusi enam ei rahulda, võta JavaFX ette.
				p Kindlasti tundub see teema esialgu keeruline, aga kui töötad ühe korra asja läbi leiad, et tegelikult on kõik parajalt lihtne ja loogiline.
				a.menu-invisible(href="https://www.youtube.com/watch?v=FLkOX4Eez6o" target="_blank") Inglise keelne video õpetus.
				p Lihtne näide ühest JavaFX programmist on järgmine.
				pre
					code
						| import javafx.application.Application;
						| import javafx.scene.Scene;
						| import javafx.scene.layout.StackPane;
						| import javafx.scene.shape.Circle;
						| import javafx.stage.Stage;
						| 
						| public class Valik extends Application{
						| 
						|     @Override
						|     public void start(Stage primaryStage) throws Exception {
						|         StackPane stack = new StackPane();
						|         Scene scene = new Scene(stack, 150, 150);
						|         primaryStage.setScene(scene);
						| 
						|         Circle ring = new Circle(30);
						|         stack.getChildren().add(ring);
						| 
						|         primaryStage.show();
						| 
						|     }
						| }
				p See programm joonistab lihtsalt ühe ringi.
				img(src="/images/javafx/ring.png")
				h3#javafx-application Application
				p Esimene asi mis tuleb mõista on, et JavaFX ei ole su programmis enne, kui sa oma põhilist klassi laiendanud (<code>extends</code>) klassiga <code>Application</code>.
				pre
					code
						| public class MinuKlass extends Application {
						| }
				p Teine tähtis asi on see, et Application klassi laiendades ei alusta sa oma programmi mitte main() meetodiga, vaid start() meetodiga. Muud loogikat siin pole, kui ei Application lihtsalt töötab selliselt.
				pre
					code
						| public class MinuKlass extends Application {
						|     @Override
						|     public void start(Stage primaryStage) {
						|     }
						| }
				p <code>@Override</code> on märge, mis ütleb, et käesolev meetod on super klassist (Application) üle kirjutatud. Nimelt Application klassis on meetod start() juba olemas, aga meie kirjutame selle tegevused enda vajaduse järgi üle.
				p <strong>primaryStage</strong> on meie esimene Stage, ehk lava, ehk aken, ehk Window. Võid, kuid ei pea seda kasutama.

				p Kui JavaFX ülesehitust teatriga võrrelda, siis <strong>Stage</strong> on lava ja <strong>Scene</strong> on stseen. Lavakujunduseks on <strong>Layout</strong>, ehk kuidas esemed paigutuvad stseenis, ja esemed, ehk <strong>Node</strong>, ise.
				.panel.panel-info
					h3.panel-heading#javafx-Stage Stage
					.panel-body
						p Stage on programmi aken. Sisu tuleb ise panna, aga mõned kasulikud meetodid tal siiski on.
						strong Näide
						pre
							code
								| public class MinuKlass extends Application {
								|     @Override
								|     public void start(Stage primaryStage) {
								|         primaryStage.setTitle("MinuÄpp");
								|         primaryStage.show();
								|     }
								| }
						img(src="/images/javafx/stage.png")
						.row
							.col-sm-3 Loo uus
							.col-sm-9 
								pre
									code Stage stage = new Stage();
						.row
							.col-sm-3 Määra mis Scene on aktiivne.
							.col-sm-9 
								pre
									code stage.setScene(scene);
						.row
							.col-sm-3 Muuda akna nimi
							.col-sm-9 
								pre
									code stage.setTitle("Lahe proge!")
						.row
							.col-sm-3 Määra, kas akna suurust saab muuta.
							.col-sm-9 
								pre
									code stage.setResizable(boolean);
						.row
							.col-sm-3 Too aken nähtavale
							.col-sm-9 
								pre
									code stage.show();
						.row
							.col-sm-3 Peida aken
							.col-sm-9 
								pre
									code stage.hide();
				.panel.panel-info
					h3.panel-heading#javafx-Scene Scene
					.panel-body
						p Scene on stseen, ehk nagu tühi konteiner, kus saab action toimuma hakata. Selline vahelüli on vajalik selleks, et saaks ühe käsuga kogu akna sisu ära vahetada. Näiteks kui avaneb programmi aken login vaatesse, siis edukalt sisse logides vahetad login vaate välja programmi vastu.
						.row
							.col-sm-3 Loo uus stseen
							.col-sm-9 
								pre
									code 
										| stack = new StackPane();
										| Scene scene = new Scene(stack);
								p.text-danger Stseeni ilma layoutita teha ei saa, sellepärast on StackPane Scene() sulgude vahel.
						.row
							.col-sm-3 Loo uus stseen kindla suurusega
							.col-sm-9 
								pre
									code 
										| stack = new StackPane();
										| Scene scene = new Scene(stack, 400, 800);
						.row
							.col-sm-3 Muuda tausta värvi hex koodiga.
							.col-sm-9 
								pre
									code scene.setFill(Paint.valueOf("#ff0000"));
				.panel
					h3.panel-heading#javafx-Layout Layout
					.panel-body.visible
						p Layout on lavakujunduses asjade paigutus. Võimalusi on palju. Et kujundused igal ekraanil töötaksid tuleb nad ehitada üles paindlikult, kombineerides erinevaid paneele.
						p Layout ise ei ole objekt, mida saab luua, Layout kujuneb läbi paneelida.
						p Täpsemalt saab infot <a href="https://docs.oracle.com/javafx/2/layout/builtin_layouts.htm#CHDGHCDG" target="_blank">Oracle dokumentatsioonist</a>
						p.text-danger Impordi alati <strong>javafx paketist!</strong> Swing ja AWT on hiljuti aegunud tehnoloogiad.
						.panel.panel-info
							h5.panel-heading#javafx-layout-Pane Pane
							.panel-body.visible
								.row
									.col-sm-3
										img(src="/images/javafx/Pane.svg").paneImg
									.col-sm-9 Kõige lihtsam (ja paindumatum) piksli põhine kujundus. Kõik ülejäänud paneelid pärinevad (extends) siit, st. kõik siinsed meetodid on olemas ka teistel paneelidel.
								.row
									.col-sm-3 Loo uus
									.col-sm-9
										pre
											code Pane pane = new Pane();
								.row
									.col-sm-3 Lisa sisu hulka element.
									.col-sm-9
										pre
											code pane.getChildren().add(element);
								.row
									.col-sm-3 Lisa sisu hulka mitu elementi korraga.
									.col-sm-9
										pre
											code pane.getChildren().addAll(element, element, element);
								.row
									.col-sm-3 Positsioneeri sialduvad elemendid alla keskele.
									.col-sm-9
										pre
											code pane.setAlignment(Pos.BOTTOM_CENTER);
								.row
									.col-sm-3 Liiguta paneeli allapoole 10 pikslit ja paremale 20 pikslit.
									.col-sm-9
										pre
											code 
												| pane.setTranslateY(10);
												| pane.setTranslateX(20);
								.row
									.col-sm-3 Pööra paneeli 30 kraadi.
									.col-sm-9
										pre
											code pane.setRotate(30);
								.row
									.col-sm-3 Vähenda mõõtmeid 50%
									.col-sm-9
										pre
											code
												| pane.setScaleX(0.5);
												| pane.setScaleY(0.5);
								.row
									.col-sm-3 Määra eelistatud suuruseks 100x100 pikslit
									.col-sm-9
										pre
											code pane.setPrefSize(100, 100);
						.panel.panel-info
							h5.panel-heading#javafx-layout-BorderPane BorderPane
							.panel-body.visible
								.row
									.col-sm-3
										img(src="/images/javafx/BorderPane.svg").paneImg
									.col-sm-9 Tüüpiline veebikujundus, kus on päis ja jalus, vasak ja parem menüü ning sisu keskel.
								.row
									.col-sm-3 Loo uus
									.col-sm-9
										pre
											code BorderPane border = new BorderPane();
								.row
									.col-sm-3 Lisa sisu ülemise kasti sisse
									.col-sm-9
										pre
											code border.setTop(sisu);
								.row
									.col-sm-3 Lisa sisu alumise kasti sisse
									.col-sm-9
										pre
											code border.setBottom(sisu);
								.row
									.col-sm-3 Lisa sisu vasaku kasti sisse
									.col-sm-9
										pre
											code border.setLeft(sisu);
								.row
									.col-sm-3 Lisa sisu parema kasti sisse
									.col-sm-9
										pre
											code border.setRight(sisu);
								.row
									.col-sm-3 Lisa sisu keskmise kasti sisse
									.col-sm-9
										pre
											code border.setCenter(sisu);
								p Ka <a target="_blank" href="/javafx-layout-Pane">Pane</a> meetodid on siin kasutatavad.
						.panel.panel-info
							h5.panel-heading#javafx-layout-StackPane StackPane
							.panel-body
								.row
									.col-sm-3
										img(src="/images/javafx/StackPane.svg").paneImg
									.col-sm-9 Kui on vaja elemente üksteise peale sobitada. Elemendid satuvad vaikimisi StackPane keskele.
								.row
									.col-sm-3 Loo uus
									.col-sm-9
										pre
											code StackPane stack = new StackPane();
								.row
									.col-sm-3 Liiguta element üles paremale nurka
									.col-sm-9
										pre
											code stack.setAlignment(element, Pos.TOP_RIGHT);
								.row
									.col-sm-3 Liiguta element alla keskele
									.col-sm-9
										pre
											code stack.setAlignment(element, Pos.BOTTOM_CENTER);
								p.text-warning Ka <a target="_blank" href="/javafx-layout-Pane">Pane</a> meetodid on siin kasutatavad.
						.panel.panel-info
							h5.panel-heading#javafx-layout-GridPane GridPane
							.panel-body
								.row
									.col-sm-3
										img(src="/images/javafx/GridPane.svg").paneImg
									.col-sm-9 Asetab elemendid ruudustiku järgi tabelisse.
								.row
									.col-sm-3 Loo uus
									.col-sm-9
										pre
											code GridPane grid = new GridPane();
								.row
									.col-sm-3 Lisa element rect ritta 3 veergu 4
									.col-sm-9
										pre
											code grid.add(rect, 4, 3);
								.row
									.col-sm-3 Näita ruudustiku jooni
									.col-sm-9
										pre
											code grid.setGridLinesVisible(true);
								p.text-warning Ka <a target="_blank" href="/javafx-layout-Pane">Pane</a> meetodid on siin kasutatavad.
						.panel.panel-info
							h5.panel-heading#javafx-layout-VBox VBox
							.panel-body
								.row
									.col-sm-3
										img(src="/images/javafx/VBox.svg").paneImg
									.col-sm-9 Paigutab elemendid üksteise alla.
								.row
									.col-sm-3 Loo uus
									.col-sm-9
										pre
											code VBox vbox = new VBox();
								.row
									.col-sm-3 Lisa 2 pikslit vahet igale elemendile
									.col-sm-9
										pre
											code vbox.setSpacing(2);
								p.text-warning Ka <a target="_blank" href="/javafx-layout-Pane">Pane</a> meetodid on siin kasutatavad.
						.panel.panel-info
							h5.panel-heading#javafx-layout-Hbox Hbox
							.panel-body
								.row
									.col-sm-3
										img(src="/images/javafx/HBox.svg").paneImg
									.col-sm-9 Paigutab elemendid vasakult paremale ja ei katke.
								.row
									.col-sm-3 Loo uus
									.col-sm-9
										pre
											code Hbox hbox = new Hbox();
								.row
									.col-sm-3 Lisa 2 pikslit vahet igale elemendile
									.col-sm-9
										pre
											code hbox.setSpacing(2);
								p.text-warning Ka <a target="_blank" href="/javafx-layout-Pane">Pane</a> meetodid on siin kasutatavad.
						.panel.panel-info
							h5.panel-heading#javafx-layout-FlowPane FlowPane
							.panel-body
								.row
									.col-sm-3
										img(src="/images/javafx/FlowPane.svg").paneImg
									.col-sm-9 Paigutab elemendid vasakult paremale, katkeb järgmisele reale kui sisu enam ära ei mahu.
								.row
									.col-sm-3 Loo uus
									.col-sm-9
										pre
											code FlowPane flow = new FlowPane();
								.row
									.col-sm-3 Lisa vaba ruumi horisontaalselt 5 pikslit
									.col-sm-9
										pre
											code flow.setHgap(5);
								.row
									.col-sm-3 Lisa vaba ruumi vertikaalselt 5 pikslit
									.col-sm-9
										pre
											code flow.setVgap(5);
								p.text-warning Ka <a target="_blank" href="/javafx-layout-Pane">Pane</a> meetodid on siin kasutatavad.
						.panel.panel-info
							h5.panel-heading#javafx-layout-TilePane TilePane
							.panel-body
								.row
									.col-sm-3
										img(src="/images/javafx/TilePane.svg").paneImg
									.col-sm-9 Nagu FlowPane, ainult et elemendid saavad kõik identse suuruse.
								.row
									.col-sm-3 Loo uus
									.col-sm-9
										pre
											code TilePane tile = new TilePane();
								.row
									.col-sm-3 Lisa vaba ruumi horisontaalselt 5 pikslit
									.col-sm-9
										pre
											code flow.setHgap(5);
								.row
									.col-sm-3 Lisa vaba ruumi vertikaalselt 5 pikslit
									.col-sm-9
										pre
											code flow.setVgap(5);
								p.text-warning Ka <a target="_blank" href="/javafx-layout-Pane">Pane</a> meetodid on siin kasutatavad.
						.panel.panel-info
							h5.panel-heading#javafx-layout-AnchorPane AnchorPane
							.panel-body
								.row
									.col-sm-3
										img(src="/images/javafx/AnchorPane.svg").paneImg
									.col-sm-9 Elemente on võimalik ankurdada servadesse ja nurkadesse.
								.row
									.col-sm-3 Loo uus
									.col-sm-9
										pre
											code AnchorPane anchor = new AnchorPane();
								.row
									.col-sm-3 Ankurda element alla paremasse nurka
									.col-sm-9
										pre
											code
												| anchor.setBottomAnchor(element, 0.0);
												| anchor.setRightAnchor(element, 0.0);
				h3#javafx-Node Node
				p Node on nähtavad asjad, näiteks ring, tekst või nupp.
				.panel
					h4.panel-heading#javafx-Kasutajaliides Kasutajaliides
					.panel-body.visible
						p Kasutajaliides on need nupud ja vidinad, mis teevad su programmi kasutajale interaktiivseks.
						p.text-danger Kindlasti impordi ainult javafx pakettidest!!
						strong Järgnevad näited kehtivad kõikidele kasutajaliidese tüüpi elementidele!
						p Proovime läbi kuidas ühte lihtsat kasutajaliidese tüüp elementi kasutada.
						hr
						.row
							.col-sm-3 Loo uus
							.col-sm-9 
								pre
									code Label l = new Label();
						hr
						.row
							.col-sm-3 Paneme uue elemendi Layout Pane sisse.
							.col-sm-9 
								pre
									code 
										| Pane pane = new Pane();
										| pane.getChildren().add(l);
								p Vt. ka <a target="_blank" href="/javafx">kuidas JavaFX töötab koos Stage ja Scenega</a>.
						hr
						.row
							.col-sm-3 Liiguta Label 50 pikslit paremale ja 100 pikslit alla.
							.col-sm-9 
								pre
									code 
										| l.setTranslateX(50);
										| l.setTranslateY(100);
								p.text-warning Kuigi sa saad muuta elemendi asukohta layouti sees, määrab ümbritsev layout ikkagi olulise osa. Seega, kui su element ei käitu päris nii nagu soovid, proovi mõnda muud <a target="_blank" href="/javafx-Layout">layouti</a>.
						hr
						.row
							.col-sm-3 Vähenda laiust 50% ja kahekordista kõrgus
							.col-sm-9 
								pre
									code 
										| l.setScaleX(0.5);
										| l.setScaleY(2);
						hr
						.row
							.col-sm-3 Pööra 30 kraadi.
							.col-sm-9 
								pre
									code l.setRotate(30);
						p Kõikidest võimalustest räägib täpsemalt <a href="https://docs.oracle.com/javafx/2/ui_controls/jfxpub-ui_controls.htm" target="_blank">Oracle UI Controls</a>, siin on välja toodud esimesed olulised.
						.panel.panel-info
							h5.panel-heading#javafx-Label Label
							.panel-body
								.row
									.col-sm-4
										img.img-responsive(src="/images/javafx/UI/Label.png")
									.col-sm-8
										p Label, ehk silt, on lihtne tekst, mida tüüpiliselt lisatakse mingi interaktiivse elemendi selgitamiseks.
										p Vt. ka <a target="_blank" href="/javafx-Kasutajaliides">Kasutajaliidese üldine kasutamine</a>.
								hr
								.row
									.col-sm-3 Määra tekst, ehk Label sisu.
									.col-sm-9
										pre
											code a.setText("Keegi on su selja taga!");
						.panel.panel-info
							h5.panel-heading#javafx-TextField TextField
							.panel-body
								.row
									.col-sm-4
										img.img-responsive(src="/images/javafx/UI/TextField.png")
									.col-sm-8
										p Teksti kirjutamiseks, et kasutajalt infot pärida.
										p Vt. ka <a target="_blank" href="/javafx-Kasutajaliides">Kasutajaliidese üldine kasutamine</a>.
								hr
								.row
									.col-sm-3 Lisa välja taustale ajutine tekst
									.col-sm-9
										pre
											code a.setPromptText("Ajutine tekst");
								hr
								.row
									.col-sm-3 Salvesta kasutaja sisestatud tekst muutujasse
									.col-sm-9
										pre
											code String b = a.getText();
								hr
								.row
									.col-sm-3 Tühjenda teksti väli
									.col-sm-9
										pre
											code a.clear()
								hr
								.row
									.col-sm-3 Kui soovid iga muutuse peale reageerida
									.col-sm-9
										pre
											code
												| a.textProperty().addListener((observable, vanaVaartus, uusVaartus) -&gt; {
												|     System.out.println("Uus väärtus: " + uusVaartus);
												|     // Tegevus siia
												| });
								hr
								.row
									.col-sm-3 Kui soovid <kbd>enter</kbd> vajutamisele reageerida
									.col-sm-9
										pre
											code
												| a.setOnAction((event) -&gt; {
												|     // Tegevus siia
												| });
						.panel.panel-info
							h5.panel-heading#javafx-PasswordField PasswordField
							.panel-body
								.row
									.col-sm-4
										img.img-responsive(src="/images/javafx/UI/PasswordField.png")
									.col-sm-8
										p Täpselt nagu TextField, ainult, et kirjutatud tähtede asemel näidatakse tärne.
										p Vt. ka <a target="_blank" href="/javafx-Kasutajaliides">Kasutajaliidese üldine kasutamine</a>.
								hr
								.row
									.col-sm-3 Lisa välja taustale ajutine tekst
									.col-sm-9
										pre
											code a.setPromptText("Ajutine tekst");
								hr
								.row
									.col-sm-3 Salvesta kasutaja sisestatud tekst muutujasse
									.col-sm-9
										pre
											code String b = a.getText();
								hr
								.row
									.col-sm-3 Tühjenda parooli väli
									.col-sm-9
										pre
											code a.clear()
						.panel.panel-info
							h5.panel-heading#javafx-Button Button
							.panel-body
								.row
									.col-sm-4
										img.img-responsive(src="/images/javafx/UI/Button.png")
									.col-sm-8
										p Kõige lihtsam nupp. Mis juhtub nupu vajutusel saad ise määrata.
										p Vt. ka <a target="_blank" href="/javafx-Kasutajaliides">Kasutajaliidese üldine kasutamine</a>.
								hr
								.row
									.col-sm-3 Määra nupu tekst
									.col-sm-9
										pre
											code btn.setText("Vajuta siia!");
								hr
								.row
									.col-sm-3 Määra mis juhtub kui nuppu vajutatakse
									.col-sm-9
										pre
											code
												| btn.setOnAction((event) -&gt; {
												|     public void handle(ActionEvent e) {
												|         // Siia tegevus, kui nupp on vajutatud.
												|     }
												| });
						.panel.panel-info
							h5.panel-heading#javafx-ToggleButton ToggleButton
							.panel-body
								.row
									.col-sm-4
										img.img-responsive(src="/images/javafx/UI/ToggleButton.png")
									.col-sm-8
										p Eriline nupp, mis jääb sisse. Kasutatakse selleks, et näiteks mõne programmi settingutes lasta valida jah/ei stiilis või lausa mitme valiku vahel korraga.
										p Vt. ka <a target="_blank" href="/javafx-Kasutajaliides">Kasutajaliidese üldine kasutamine</a>.
								hr
								.row
									.col-sm-3 Kui gruppi ei kasuta on üks nupp sisse/välja lülitatav.
									.col-sm-9
										pre
											code
												| ToggleButton nupp = new ToggleButton("üksik toggle");
								hr
								.row
									.col-sm-3 Toggle nupud grupeeritakse kasutades <a target="_blank" href="/javafx-ToggleGroup">ToggleGroup</a> objekti. Ühes objektis saab vaid üks nupp olla korraga sisse vajutatud.
									.col-sm-9
										pre
											code
												| ToggleGroup g = new ToggleGroup();
												| ToggleButton e1 = new ToggleButton("Nupp 1");
												| ToggleButton e2 = new ToggleButton("Nupp 2");
												| ToggleButton e3 = new ToggleButton("Nupp 3");
												| e1.setToggleGroup(g);
												| e2.setToggleGroup(g);
												| e3.setToggleGroup(g);
												| e3.setSelected(true);
												| vbox.getChildren().addAll(e1, e2, e3);
								
						.panel.panel-info
							h5.panel-heading#javafx-RadioButton RadioButton
							.panel-body
								.row
									.col-sm-4
										img.img-responsive(src="/images/javafx/UI/RadioButton.png")
									.col-sm-8
										p Radio on veebist vähe tuttavam versioon ToggleButton'ist. Eesmärk on sama: anda kasutajale valida üks mitme seast.
										p Vt. ka <a target="_blank" href="/javafx-Kasutajaliides">Kasutajaliidese üldine kasutamine</a>.
								hr
								.row
									.col-sm-3 RadioNupud grupeeritakse <a target="_blank" href="/javafx-ToggleGroup">ToggleGroup</a> objekti abil, et vaid üks neist saaks olla valitud korraga.
									.col-sm-9
										pre
											code
												| ToggleGroup g = new ToggleGroup();
												| RadioButton e1 = new RadioButton("Nupp 1");
												| RadioButton e2 = new RadioButton("Nupp 2");
												| RadioButton e3 = new RadioButton("Nupp 3");
												| e1.setToggleGroup(g);
												| e2.setToggleGroup(g);
												| e3.setToggleGroup(g);
												| e3.setSelected(true);
												| vbox.getChildren().addAll(e1, e2, e3);
						.panel.panel-info
							h5.panel-heading#javafx-ToggleGroup ToggleGroup
							.panel-body
								p <a target="_blank" href="/javafx-RadioButton">RadioButton</a> ja <a target="_blank" href="/javafx-ToggleButton">ToggleButton</a> tarbeks.
								hr
								.row
									.col-sm-3 Küsi ToggleGroup käest, millised nupud on sisse vajutatud
									.col-sm-9
										pre
											code g.getSelectedToggle();
						.panel.panel-info
							h5.panel-heading#javafx-CheckBox CheckBox
							.panel-body
								.row
									.col-sm-4
										img.img-responsive(src="/images/javafx/UI/CheckBox.png")
									.col-sm-8
										p Kasutajale jah/ei stiilis küsimuste esitamiseks.
										p Vt. ka <a target="_blank" href="/javafx-Kasutajaliides">Kasutajaliidese üldine kasutamine</a>.
								hr
								.row
									.col-sm-3 Loo 3 CheckBoxi
									.col-sm-9
										pre
											code
												| CheckBox e1 = new CheckBox("Nupp 1");
												| CheckBox e2 = new CheckBox("Nupp 2");
												| CheckBox e3 = new CheckBox("Nupp 3");
												| vbox.getChildren().addAll(e1, e2, e3);
								hr
								.row
									.col-sm-3 Määra tekstiline sisu.
									.col-sm-9
										pre
											code cd.setText("Nupp 1");
								hr
								.row
									.col-sm-3 Määra, kas CheckBox on sisse vajutatud.
									.col-sm-9
										pre
											code cb.setSelected(true);
								hr
								.row
									.col-sm-3 Küsi, kas Checkbox on sisse vajutatud.
									.col-sm-9
										pre
											code cb.isSelected();
						.panel.panel-info
							h5.panel-heading#javafx-ChoiceBox ChoiceBox
							.panel-body
								.row
									.col-sm-4
										img.img-responsive(src="/images/javafx/UI/ChoiceBox.png")
									.col-sm-8
										p Seletav tekst
										p Vt. ka <a target="_blank" href="/javafx-Kasutajaliides">Kasutajaliidese üldine kasutamine</a>.
								hr
								.row
									.col-sm-3 Loo ChoiceBox kolme variandiga
									.col-sm-9
										pre
											code
												| ChoiceBox cb = new ChoiceBox(FXCollections.observableArrayList(
												|         "Esimene", "Teine", "Kolmas")
												| );
												| pane.getChildren().add(cb);
								.row
									.col-sm-3 Küsi milline variant on valitud
									.col-sm-9
										pre
											code cb.getValue();
								.row
									.col-sm-3 Reageeri valiku muutmisele.
									.col-sm-9
										pre
											code 
												| cb.getSelectionModel()
												|   .selectedItemProperty()
												|   .addListener(
												|       (ObservableValue observable, Object oldValue, Object newValue) -&gt; {
												|           // Do stuff
												|           System.out.println(newValue);
												| });
						.panel.panel-info
							h5.panel-heading#javafx-Slider Slider
							.panel-body
								.row
									.col-sm-4
										img.img-responsive(src="/images/javafx/UI/Slider.png")
									.col-sm-8
										p Väärtuse valimiseks mingist vahemikust.
										p Vt. ka <a target="_blank" href="/javafx-Kasutajaliides">Kasutajaliidese üldine kasutamine</a>.
								hr
								.row
									.col-sm-3 Määra miinimum väärtus
									.col-sm-9
										pre
											code slider.setMin(0);
								hr
								.row
									.col-sm-3 Määra maksimaalne väärtus
									.col-sm-9
										pre
											code slider.setMax(100);
								hr
								.row
									.col-sm-3 Määra algne väärtus
									.col-sm-9
										pre
											code slider.setValue(40);
								hr
								.row
									.col-sm-3 Kas numbrid on näha?
									.col-sm-9
										pre
											code slider.setShowTickLabels(true);
								hr
								.row
									.col-sm-3 Kas kriipsud on näha?
									.col-sm-9
										pre
											code slider.setShowTickMarks(true);
								hr
								.row
									.col-sm-3 Kui tihedalt suured kriipsud esinevad.
									.col-sm-9
										pre
											code slider.setMajorTickUnit(50);
								hr
								.row
									.col-sm-3 Mitu väikest kriipsu on iga suure vahel?
									.col-sm-9
										pre
											code slider.setMinorTickCount(5);
								hr
								.row
									.col-sm-3 Muuda orientatsioon vertikaalseks.
									.col-sm-9
										pre
											code slider.setOrientation(Orientation.VERTICAL);
								hr
								.row
									.col-sm-3 Reageeri Slideri muutumise peale
									.col-sm-9
										pre
											code 
												| .valueProperty().addListener((observable, vanaVaartus, uusVaartus) -&gt; {
												|     System.out.println("Uus väärtus on: " + uusVaartus.intValue());
												| });
						.panel.panel-info
							h5.panel-heading#javafx-FileChooser FileChooser
							.panel-body
								p Kasutab kasutaja operatsioonisüsteemi failihaldurit, et leida kasutaja soovitud fail.
								p Vt. ka terviklikumat näidet <a href="http://docs.oracle.com/javafx/2/ui_controls/file-chooser.htm" target="_blank">Oracle lehel</a>.
								hr
								.row
									.col-sm-3 Ava failihaldur ja salvesta fail muutujasse file.
									.col-sm-9
										pre
											code
												| FileChooser fileChooser = new FileChooser();
												| File file = fileChooser.showOpenDialog(primaryStage);
								.row
									.col-sm-3 Määra failihalduri akna pealkiri.
									.col-sm-9
										pre
											code fileChooser.setTitle("Pealkiri");
						.panel.panel-info
							h5.panel-heading#javafx-Chart Chart
							.panel-body
								p Vt. <a href="https://docs.oracle.com/javase/8/javafx/user-interface-tutorial/charts.htm" target="_blank">Oracle Charts</a>
				.panel
					h4.panel-heading#javafx-joonistamine Joonistamine
					.panel-body.visible
						p Joonistada saab joonte, ringide või mistahes muude kujunditega. Polygon näiteks ongi vabalt vormitav kujund.
						p Soovitatav on konteineriks kasutada Pane layouti, seal ei ole automaatset joondumist ja saab rahulikult x, y kordinaatidega kujundeid moodustada.
						p On mõned põhitõed, mis <strong>kehtivad peaaegu kõikide kujundite puhul</strong>:
						hr
						.row
							.col-sm-3 Loo uus
								img(src="/images/javafx/Shapes/rec-demo1.png")
							.col-sm-9
								pre
									code Rectangle rectangle = new Rectangle(20, 20, 70, 50);
						hr
						.row
							.col-sm-3 Loo uus eraldi käskudena
								img(src="/images/javafx/Shapes/rec-demo1.png")
							.col-sm-9
								pre
									code 
										| Rectangle rec = new Rectangle();
										| rec.setX(20);
										| rec.setY(20);
										| rec.setWidth(70);
										| rec.setHeight(50);
						hr
						.row
							.col-sm-3 Reageeri hiire klikile
							.col-sm-9
								pre
									code rectangle.setOnMouseClicked(event -&gt; {
										|     System.out.println("Klikk töötab");
										| });
						hr
						.row
							.col-sm-3 Värvi joon või servad.
								img(src="/images/javafx/Shapes/rec-demo2.png")
							.col-sm-9
								pre
									code rectangle.setStroke(Color.RED);
						hr
						.row
							.col-sm-3 Määra joone paksuseks 10 pikslit.
								img(src="/images/javafx/Shapes/rec-demo3.png")
							.col-sm-9
								pre
									code rectangle.setStrokeWidth(10);
						hr
						.row
							.col-sm-3 Värvi sisu.
								img(src="/images/javafx/Shapes/rec-demo4.png")
							.col-sm-9
								pre
									code rectangle.setFill(Color.BLUE);
						hr
						.row
							.col-sm-3 Pööra 45 kraadi.
								img(src="/images/javafx/Shapes/rec-demo5.png")
							.col-sm-9
								pre
									code rec.setRotate(45);

						.panel.panel-info
							h5.panel-heading#javafx-Line Line
							.panel-body
								img(src="/images/javafx/Shapes/Line.png")
								p Joonista joon. Määrama peab kust-&gt;kuhu kordinaadid, ehk new Line(kustX, kustY, kuhuX, kuhuY).
								p Vt. ka <a href="/javafx-joonistamine" target="_blank">Joonistamise põhitõed</a>.
								hr
								.row
									.col-sm-3 Algab kordinaatidelt 0, 0 ja lõppeb 100, 100
									.col-sm-9
										pre
											code Line line = new Line(0, 0, 100, 100);
								hr
								.row
									.col-sm-3 Sama asi eraldi käskudena
									.col-sm-9
										pre
											code 
												| Line line = new Line();
												| line.setStartX(0);
												| line.setStartY(0);
												| line.setEndX(100);
												| line.setEndY(100);
						.panel.panel-info
							h5.panel-heading#javafx-Rectangle Rectangle
							.panel-body
								img(src="/images/javafx/Shapes/Rectangle.png")
								p Ristkülik. Määrata tuleb alguskordinaadid ja laius/kõrgus, ehk new Rectangle(algX, algY, laius, kõrgus).
								p Vt. ka <a href="/javafx-joonistamine" target="_blank">Joonistamise põhitõed</a>.
								hr
								.row
									.col-sm-3 Loo uus algusega 20x20 ja suuruses 80x120
									.col-sm-9
										pre
											code Rectangle a = new Rectangle(20,20,80,40);
								hr
								.row
									.col-sm-3 Sama asi eraldi käskudena
									.col-sm-9
										pre
											code 
												| Rectangle a = new Rectangle();
												| a.setX(20);
												| a.setY(20);
												| a.setHeight(80);
												| a.setWidth(40);
						.panel.panel-info
							h5.panel-heading#javafx-Circle Circle
							.panel-body
								img(src="/images/javafx/Shapes/Circle.png")
								p Ring.
								p Vt. ka <a href="/javafx-joonistamine" target="_blank">Joonistamise põhitõed</a>.
								hr
								.row
									.col-sm-3 Loo uus
									.col-sm-9
										pre
											code Circle a = new Circle(30);
								hr
								.row
									.col-sm-3 Muuda raadiust
									.col-sm-9
										pre
											code a.setRadius(30);
								hr
								.row
									.col-sm-3 Muuda asukohta keskpunkti järgi
									.col-sm-9
										pre
											code 
												| a.setCenterX(100);
												| a.setCenterY(100);
						.panel.panel-info
							h5.panel-heading#javafx-Ellipse Ellipse
							.panel-body
								img(src="/images/javafx/Shapes/Ellipse.png")
								p Ellipse on nagu ring, ainult kahe raadiusega - horisontaalne ja vertikaalne.
								p Vt. ka <a href="/javafx-joonistamine" target="_blank">Joonistamise põhitõed</a>.
								hr
								.row
									.col-sm-3 Loo uus
									.col-sm-9
										pre
											code Ellipse a = new Ellipse(30, 40);
								hr
								.row
									.col-sm-3 Muuda raadiust
									.col-sm-9
										pre
											code 
												| a.setRadiusX(30);
												| a.setRadiusY(40);
								hr
								.row
									.col-sm-3 Muuda asukohta keskpunkti järgi
									.col-sm-9
										pre
											code 
												| a.setCenterX(100);
												| a.setCenterY(100);
						.panel.panel-info
							h5.panel-heading#javafx-Polygon Polygon
							.panel-body
								img(src="/images/javafx/Shapes/Polygon.png")
								p Polygon on vaba kujundi joonistaja. Muidu võid ka joonega oma kujundid teha, aga Polygoni saab seest ära värvida.
								p Vt. ka <a href="/javafx-joonistamine" target="_blank">Joonistamise põhitõed</a>.
								hr
								.row
									.col-sm-3 Loo uus
									.col-sm-9
										pre
											code Polygon a = new Polygon();
								hr
								.row
									.col-sm-3 Määra ära otspunktide kordinaadid.
									.col-sm-9
										pre
											code 
												| a.getPoints().addAll(new Double[]{
												|         0.0, 0.0,
												|         20.0, 10.0,
												|         10.0, 20.0
												| });
										p Antud näites on 3 otspunkti: [(0.0,0.0), (20.0, 10.0), (10.0, 20.0)]
		.panel.panel-info.advanced
			h3.panel-heading#javafx-color Color
			.panel-body
				p Color klassi abil saad määrata värvi, millega elementi värvida.
				p Olemasolevaid värve saad valida kirjutades <code>Color.</code> ja valides paljudest värvidest.
				pre
					code
						| Color.RED;
						| Color.GREEN;
						| Color.BLUE;
						| Color.BLUEVIOLET;
						| Color.CADETBLUE;
						| Color.DEEPSKYBLUE;
				p Kui soovid aga ise värvi koostada RGB formaadis, kasuta seleks <code>Color.rgb()</code> meetodi.
				pre
					code
						| Color.rgb(255,0,0); // punane
						| Color.rgb(23,235,78); // Rohekas
