template(name="sissejuhatus")
	.sissejuhatus
		h1#sissejuhatus Sissejuhatus
		.panel.panel-info
			h2.panel-heading#chat Chat
			.panel-body
				strong.text-danger Kui proged Javat hängi meie jututoas: <a target="_blank" href="https://gitter.im/KristerV/i200">gitter.im/KristerV/i200</a>.
				p Seal saad eriti kiiresti oma küsimustele vastused ja vahest saab niisamagi targemaks. Sisse saad logida GitHubi kontoga (kuna igal arendajal see juba on).

		h2#Videod Videod
		.row
			.col-sm-4
				+youtube(id="IpmBjKqFOvk" title="1. Skeemi tutvustus")
			.col-sm-4
				+youtube(id="iU-RUnORPt8" title="2. Java ja arenduskeskkonna (IDE) install")
			.col-sm-4
				+youtube(id="bs5U5kCb1I4" title="3. IDE esimene käivitus")
			.col-sm-4
				+youtube(id="MbPskoIo09k" title="4. IDE sissejuhatus")
			.col-sm-4
				+youtube(id="2Ju3yuBtop4" title="5. IDE debugimise võimalus")
			.col-sm-4
				+youtube(id="R4egQl-7gwk" title="6. main() meetod ja println()")
			.col-sm-4
				+youtube(id="-AUEcJ_JWdg" title="7. muutuja - väärtused")
			.col-sm-4
				+youtube(id="_lLjBvB-viE" title="8. muutuja - kogumikud")
			.col-sm-4
				+youtube(id="_nPa2mWt4HI" title="9. if(), ehk valik")
			.col-sm-4
				+youtube(id="36FTynZdNmk" title="10. while(), ehk tsükkel")
			.col-sm-4
				+youtube(id="OnP7LQynSp8" title="11. Java API")
			.col-sm-4
				+youtube(id="S4GnFBQD8YU" title="12. Sisend konsoolis")
			.col-sm-4
				+youtube(id="a4rRRHDFxY8" title="13. Väljund konsoolis")
		+kkk
		.panel.panel-info
			h2.panel-heading#external-links Väliseid ressursse
			.panel-body
				p Igaühel on oma viis õppimiseks, seega siin on hea nimekiri erinevatest online ressurssidest.
				p Paljud materjalid on hoopis Püütoni kesksed. See on väga hea. Püüton on hea algaja keel, millelt on lihtne Java peale ümber tulla.
				.panel
					h3.panel-heading#lingid-videod Videod
					.panel-body
						ul
							li <a target="_blank" href="http://web.stanford.edu/class/cs106a/">Stanford</a>i ülipopulaarne kursus
							li <a target="_blank" href="https://www.youtube.com/watch?v=3u1fu6f8Hto">Java Programming - Step by Step</a>
							li <a target="_blank" href="https://youtu.be/BRaBWIcAqlQ">Why is programming hard?</a>
							li <a target="_blank" href="http://www.pluralsight.com/">PluralSight</a>
							li <a target="_blank" href="https://www.coursera.org/course/pythonlearn">Coursera</a>
							li <a target="_blank" href="https://www.khanacademy.org/computing/computer-programming">Khan Academy</a>
				.panel
					h3.panel-heading#lingid-Interaktiivne Interaktiivne
					.panel-body
						ul
							li <a target="_blank" href="http://hourofcode.com/">Hour of Code</a>
							li <a target="_blank" href="http://www.codecademy.com/tracks/python">CodeCademy</a>
							li <a target="_blank" href="https://codecombat.com/">CodeCombat</a>
							li <a target="_blank" href="http://www.programmingbasics.org/en/">Programming Basics</a>
				.panel
					h3.panel-heading#lingid-tekst Tekstipõhine
					.panel-body
						ul
							li <a target="_blank" href="http://math.hws.edu/javanotes/">JavaNotes</a>
							li <a target="_blank" href="http://metshein.com/">MetsHein (eesti keeles)</a>
							li <a target="_blank" href="https://courses.cs.ut.ee/2015/progmaa/spring">Tartu Ülikooli "Programmeerimisest maalähedaselt"</a>
							li <a target="_blank" href="https://howtoprogramwithjava.com/programming-101-the-5-basic-concepts-of-any-programming-language/">The 5 basic concepts of any programming language</a>
							li <a target="_blank" href="http://www.makeuseof.com/tag/learn-programming-without-stress/">Learn without stress</a>
							li <a target="_blank" href="http://www.tutorialspoint.com/java/">TutorialsPoint</a>
				.panel
					h3.panel-heading#lingid-raamat Raamatud
					.panel-body
						ul
							li Head First Java
							li <a target="_blank" href="https://learnjavathehardway.org/">Learn Java the Hard Way</a>
				.panel
					h3.panel-heading#lingid-muu Muu
					.panel-body
						ul
							li <a target="_blank" href="http://www.kalzumeus.com/2011/10/28/dont-call-yourself-a-programmer/">Don't Call Yourself A Programmer, And Other Career Advice</a>

		.panel.panel-info
			h2.panel-heading#Progemine-praktikas Progemine praktikas
			.panel-body
				p On mõned põhitõed, mida enne päris maailmas tegutsemist tavaliselt ei õpi. Siin on kiire ülevaade.
				ol
					li Programmeerimine on katse-eksitus meetodi maailm, ehk seda teevad nii algajad kui ka profid. Seega proovi ja katseta. Tee vigu, arvuti sinust ei tüdine. Kui lõpuks midagi tööle saad on võit tööd väärt.
					li Ära karda programmi uuesti kirjutamist. Iga ümberkirjutamisega tuleb sul parem arusaam, kuidas asi tegelikult peaks olema. Alguses proovi lihtsalt midagi tööle saada.
					li Kolmandal ümberkirjutamisel on sul juba päris hea programm.
					li Google on progeja parim sõber. Internet on suur teadmiste pank ja pole kedagi, kes kõike peast teaks. Kuid tark ei kopeeri pimesi koodi vaid õpib seda mõistma ja kasutab vaid vajalike osi.
					li Iga programm võtab kordades rohkem aega kui oskasid arvata. <a target="_blank" href="http://blog.codinghorror.com/defeating-optimism/">Optimism on elukutsega kaasnev oht</a>.
					li Efektiivse programmi loomine algab korralikust eeltööst. Pea ees sisse hüpates saad katsetada ja mängida, aga mitte midagi tõsist teha. Läbi on vaja mõelda nii otstarve, funktsionaalsus, kujundus kui ka programmi enda arhitektuur.
					li Juunior / arendaja / Senior on kolm tiitlit, mida võid omistada. Juunior on muidugi õpilane. "Arendaja" oled siis, kui saad iseseisvalt hakkama ja seneioril on kuskil 7 aastat kogemust ja oskab ka kõige keerulisemaid probleeme lahendada. Kuskil seda kirjas muidugi ei ole ja antud kirjeldus on vaid mulje.
					li Arvuti ei tee vigu. Inimesed teevad vigu. Inimene oled sina, olen mina ja on kõik need, kes on Java ja kõik muu tarkvara kirjutanud. Aga enne kui teisi süüdistad, tee 100% kindlaks, et viga pole sinu enda koodis.
					li Tarkvara arendaja on küll ainus meeskonnaliige, kes on hädavajalik, et tarkvara toode valmis saada, aga ta kindlasti pole ainuke oluline. Et tootest asja saaks on vaja disaini, äri, arhitektuuri, kasutajatoe ja muid inimesi.
