template(name="sissejuhatus")
	.sissejuhatus
		h1#sissejuhatus Sissejuhatus
		p Esimese asjana võid videod läbi vaadata. Proovi iga video juures jälgida siin lehel olevat skeemi ja aru saada kuidas erinevad osad seotud on.
		.row
			.col-sm-4
				+youtube(id="IpmBjKqFOvk" title="1. Skeemi tutvustus")
			.col-sm-4
				+youtube(id="iU-RUnORPt8" title="2. Java ja arenduskeskkonna (IDE) install")
			.col-sm-4
				+youtube(id="bs5U5kCb1I4" title="3. IDE esimene käivitus")
			.col-sm-4
				+youtube(id="MbPskoIo09k" title="4. IDE sissejuhatus")
			.col-sm-4
				+youtube(id="2Ju3yuBtop4" title="5. IDE debugimise võimalus")
			.col-sm-4
				+youtube(id="R4egQl-7gwk" title="6. main() meetod ja println()")
			.col-sm-4
				+youtube(id="-AUEcJ_JWdg" title="7. muutuja - väärtused")
			.col-sm-4
				+youtube(id="_lLjBvB-viE" title="8. muutuja - kogumikud")
			.col-sm-4
				+youtube(id="_nPa2mWt4HI" title="9. if(), ehk valik")
			.col-sm-4
				+youtube(id="36FTynZdNmk" title="10. while(), ehk tsükkel")
			.col-sm-4
				+youtube(id="OnP7LQynSp8" title="11. Java API")
			.col-sm-4
				+youtube(id="S4GnFBQD8YU" title="12. Sisend konsoolis")
			.col-sm-4
				+youtube(id="a4rRRHDFxY8" title="13. Väljund konsoolis")