template(name="youtube")
	a.youtube.thumbnail.menu-invisible(href="https://youtu.be/{{id}}?list=PLWkgPad9kpY1Ns3Q23g1qAlE9vQbmpSKn" target="_blank")
		.youtube-logo-container
			img(src="/images/muu/youtube.png")
		img(src="http://img.youtube.com/vi/{{id}}/hqdefault.jpg")
		.caption
			h4 {{title}}
