template(name="youtube")
	a.youtube.thumbnail(href="https://youtu.be/{{id}}" target="_blank")
		.youtube-thumb(style="background-image:url('http://img.youtube.com/vi/{{id}}/hqdefault.jpg')")
			.youtube-logo
				img(src="/images/muu/youtube.png")
		.caption
			h3 {{title}}