template(name="eksam")
    div
        +loginButtons
        .eksam.center-block.max500
            h2 Eksami reeglid
            ol
                li <b>Eksam toimub klassi arvutis.</b>
                li <b>Arvesse läheb ainult esimene giti link - valida ei saa.</b>
                li <b>Ei tohi kellegagi suhelda ei netis ega mujal v.a. õppejõuga.</b>
                li Tohid kasutada internetti k.a. Google.
                li Üleüldised sohi tegemise reeglid kehtivad (nt. naabrilt maha kirjutamine).
                li Kõik ülesanded peavad olema lahendatud kasutades päris programmeerimise võtteid ja mitte lihtsalt näiliselt lahendades vastust kirjutades.
                li Kui oled valmis lae lahendused üles samasse reposse kust nad said. Kui laed GitHubi või mujale avalikku kohta on tegu plagiaadi kaasa aitamises. Lahendusi võid jagada märtsis, kui kõik eksamid on ära olnud.
                li Aega on 3 tundi.
                li Kui koodi üles laadimine gitiga ei õnnestu siis saada failid kokku pakitult (zip/rar/tar) mulle meilile: krister.viirsaar@itcollege.ee. Aga copy-paste koodi ma vastu ei võta.
            if examOpen 
                h2 Eksam on <span class="text-success">avatud</span>
                if gitlink
                    p Siin on sinu giti link. Salvesta kuskile ära, et kaotsi ei läheks.
                    p.bold {{gitlink}}
                else
                    form(name="exam-form")
                        .form-group
                            p Sisesta oma <b>päris</b> nimi
                            input.form-control#studentName(type="text")
                        button.btn.btn-primary(type="submit") Telli giti link
            else
                h2 Eksam on <span class="text-danger">suletud</span>
            if currentUser
                h2 Admin Menüü
                button.btn.btn-primary#toggleExam toggle open / close
                table.table.table-hover
                    thead
                        td Hash
                        td Nimi
                        td Start
                        td Kuupä.
                        td Punkte
                    tbody
                        each exams
                            tr
                                td {{_id}}
                                td {{studentName}}
                                td
                                    input.form-control.date(id="{{_id}}" value="{{date}}" style="width: 30px") 
                                td
                                    input.form-control.points(id="{{_id}}" value="{{points}}" style="width: 30px") 
                                td {{createdAt}}
                button.btn.btn-primary#emptyExam delete all results permanently
