template(name="eksam")
    div
        +loginButtons
        .eksam.center-block.max500
			p Reeglid on kirjas <a href="http://i200.itcollege.ee/#Eksam" target="_blank">i200 lehel</a>, ole teadlik.
			p Sulle antakse probleem (YLESANNE.md) ja soovitud lahendus. Sinu, nagu igapäevase programmeerija, tööks on luua lahendus probleemile. Ülesande looja tavaliselt ei olegi üldse IT inimene ja ei oska väga täpselt öelda mida tal vaja on, seega pead ise lüngad täitma.
			p Hinnatakse nii tehnilist lähenemist kui ka loovust probleemi lahendamisel. Tehniliselt on oluline, et kood oleks hallatav (objektorienteeritus) ja lahendusel on oluline, et asi oleks kasutatav (JavaFX). Kui mõnda aspekti ei oska mõtle sellele lihtsam asendus, tee kasvõi konsooli programm. Kõige tähtsam on muidugi esiteks see, et lahendus töötaks - olgugi siis nii puudulik kui on.
			p Objektorienteerituse koha pealt on siiski üks nõudmine: <b>objekti klass ei tohi olla JavaFXiga seotud.</b> Objektid on ainult andmete töötlemiseks.
			p Nii nagu programmeerimise maailmas ei ole siin ette antud täpseid lahenduse nõudeid, programmeerija peab ise teadma mis on hea kood ja kuidas probleeme lahendada. Tee niihea lahendus, kui oskad (vaata, et 10 minuti pärast oleks juba midagi töötavat olemas) ja kui aega üle jääb võid alati lahendust täiendada.
			p Reeglite üle kordamiseks: Google on lubatud, suhtlemine mitte.
            if examOpen 
                h2 Eksam on <span class="text-success">avatud</span>
                if gitlink
                    p Siin on sinu giti link. Salvesta kuskile ära, et kaotsi ei läheks.
                    p.bold {{gitlink}}
                    p Eksamivälise aja <b>parool on "lasesisse"</b>.
                else
                    form(name="exam-form")
                        .form-group
                            p Sisesta oma <b>päris</b> nimi
                            input.form-control#studentName(type="text")
                        button.btn.btn-primary(type="submit") Telli giti link
            else
                h2 Eksam on <span class="text-danger">suletud</span>
            if currentUser
                h2 Admin Menüü
                button.btn.btn-primary#toggleExam toggle open / close
                table.table.table-hover
                    thead
                        td Hash
                        td Nimi
                        td Start
                        td Kuupä.
                        td Punkte
                    tbody
                        each exams
                            tr
                                td {{_id}}
                                td {{studentName}}
                                td
                                    input.form-control.date(id="{{_id}}" value="{{date}}" style="width: 30px") 
                                td
                                    input.form-control.points(id="{{_id}}" value="{{points}}" style="width: 30px") 
                                td {{createdAt}}
                button.btn.btn-primary#emptyExam delete all results permanently
